# Without this "Update next build number or change version format."
version: "{build}"

image: Visual Studio 2017

platform:
  - x64
 
configuration:
  - Release
  - Debug

before_build:
    - cmake -G "Visual Studio 15 2017 Win64" .

build:
  project: $(APPVEYOR_BUILD_FOLDER)\$(APPVEYOR_PROJECT_NAME).sln

test_script:
- ps: |
    Write-Output "Compiler: $env:APPVEYOR_BUILD_FOLDER"
    
    Get-ChildItem -Recurse -Path $env:APPVEYOR_BUILD_FOLDER -Filter "*_test.exe" | ForEach-Object { 
      Write-Output $_.FullName
      $report_name = $_.Name + "_report.xml"
      Start-Process -FilePath $_.FullName -ArgumentList "--gtest_output=xml:$report_name"
    }

on_finish:
- ps: |
    Get-ChildItem -Recurse -Path $env:APPVEYOR_BUILD_FOLDER -Filter "*_test_report.xml" | ForEach-Object { 
      Write-Output $_.FullName
      (new-object net.webclient).UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", $_.FullName)
    }
