language: cpp
os: linux
dist: trusty
sudo: false

before_install:
  - ./format.sh
  - wget https://github.com/bazelbuild/bazel/releases/download/0.8.1/bazel-0.8.1-installer-linux-x86_64.sh
  - chmod +x bazel-0.8.1-installer-linux-x86_64.sh
  - ./bazel-0.8.1-installer-linux-x86_64.sh --user

script:
  # We can't use --noshow_progress because Travis terminates the
  # build after 10 mins without output.
  - bazel build --experimental_ui_actions_shown=1 -k $(bazel query ... | grep -v :_)
  - bazel test --experimental_ui_actions_shown=1 -k $(bazel query "kind(test, //...) except attr('tags', 'noci', //...)" | grep -v :_)
